.footer{
	text-align:center;
	padding:15px 0;
}
a:focus, button:focus{
	outline:none;
}
.bhoechie-tab{
	box-shadow: -1px 0 0 #dedede;
}
div.bhoechie-tab-container{
	z-index: 10;
	background-color: #ffffff;
	padding: 0 !important;
	border-radius: 4px;
	-moz-border-radius: 4px;
	border:1px solid #ddd;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	-moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	background-clip: padding-box;
	opacity: 0.97;
	filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
	margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
	margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
	color: #4731a6;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
	border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
	border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
	background-color: #4731a6;
	background-image: #4731a6;
	color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
	content: '';
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -13px;
	border-left: 0;
	border-bottom: 13px solid transparent;
	border-top: 13px solid transparent;
	border-left: 10px solid #4731a6;
}

div.bhoechie-tab-content{
	background-color: #ffffff;
	padding:20px 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
	display: none;
}
.welcome_title_main{
	margin: 9px 0 0 0;
	font-size: 27px;
	color: #5f5aa5;
}
.btn-primary {
	color: #fff;
	background-color: #24c870;
	border-color: #24c870;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #14b15d;
	border-color: #14b15d;
}
.req_icon{
	margin-right:7px;
}
.alert-success{
	background-color: #f7fff4;
}
.form-control:focus{
	border-color: #4c37a8;
	box-shadow:none;
}
.form-control.inputTxt{
	height:46px;
}
.cryptolioLogo{
	padding: 23px 0;
	text-align: center;
	font-weight: bold;
	font-size: 35px;
	color: #2ac974;
}